# EditorConfig: https://editorconfig.org

root = true

[{CMakeLists.txt,*.cmake}]
charset = utf-8
tab_width = 4
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[*.{c,h,cpp}]
tab_width = 4
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{yml,yaml,json}]
charset = utf-8
tab_width = 2
indent_size = 2
indent_style = space

[*.{md,rst}]
charset = utf-8
tab_width = 2
indent_size = 2
indent_style = space
